[Unit]
Description=Vault agent for Cardaviz
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/cardaviz
ExecStart=/usr/bin/vault agent -config /home/ubuntu/agent-config.hcl

[Install]
WantedBy=multi-user.target