<!DOCTYPE html>
<html>
<head>
<style>
  <style>
    html,
    body {
        margin: 0;
        height: 100%;
        width: 95%;
    }

    #poolSearch {
      color: #888888;
      background-color: black;
      width: 400px;
      text-align: center;
      font-size: 24px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      border-radius: 25px;
    }

    .tableClass {
      margin: 10px;
      height: 100%;
      width: 100%;
      border: 2px solid;
      border-collapse: collapse;
      border-spacing: 0;
    }
    a:link {
      color: #D0D0D0;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: #D0D0D0;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color: #D0D0D0;
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: #D0D0D0;
      background-color: transparent;
      text-decoration: underline;
    }
    h1 {
      color: #888888;
    }
    h2 {
      color: #888888;
    }
    h3 {
      color: #888888;
    }
    h4 {
      color: #888888;
    }
  </style>
</style>
</head>
<body  style="background-color: black;">
<script type="text/javascript" src="../static/js/paper-full.js"></script>
<script type="text/javascript" src="../static/js/StakePoolPerformanceChart.js"></script>
<script>

var tickers_json_url = '/static/tickers.json';
var tickers_json = null;
var data_fetch_completed = false;
var ready_to_render = false;
var pool_json_client_cache = {};
var is_rendering_count = 0;

console.log('fetching tickers json from ' + tickers_json_url);
fetch(tickers_json_url)
.then(function (response) {
    return response.json();
})
.then(function (data) {
    console.log('data fetch completed');
    tickers_json = data;
    data_fetch_completed = true;
})
.catch(function (err) {
    console.log('error: ' + err);
});

window.addEventListener("resize", (event) => {
    if (ready_to_render) {
        console.log('resize');
        filter_pools();
    }
});

window.addEventListener("pageshow", () => {
    console.log('pageshow');
    if (ready_to_render) {
        filter_pools();
    }
});

document.addEventListener('readystatechange', (event) => {
    if (document.readyState === "complete") {
        ready_to_render = true;
        paper.install(window);
        var canvas = document.getElementById('cardaviz_logo')
        paper.setup(canvas);
        var logo = draw_cardaviz_logo();
        logo.scale(0.5);
        logo.position = new Point(75, 60);
    }
});

function poolsThatStartWith(unfiltered_pools_json, starts_with_text) {
    var ret = {}
    for (const [key, value] of Object.entries(unfiltered_pools_json)) {
      if (key.startsWith(starts_with_text)) {
          ret[key] = value;
      }
    }
    var sorted = [];
    for(var key in ret) {
        sorted[sorted.length] = key;
    }
    sorted.sort();
    return sorted;
}

var is_rendering = false;
var render_count = 0;
const debounce = (func, delay) => {
    let debounceTimer
    return function() {
        const context = this
        const args = arguments
        clearTimeout(debounceTimer)
        debounceTimer = setTimeout(() => func.apply(context, args), delay)
    }
}

function render_pool_thumbnail(data) {
    var canvasCellHTML = '<td><a href="pools/' + data['ticker'] + '"><canvas id="' + data['ticker'] + '" resize></canvas></a></td>'
    var tableRef = document.getElementById('canvas_table').getElementsByTagName('tbody')[0];
    var newRow = tableRef.insertRow(tableRef.rows.length);
    newRow.innerHTML = canvasCellHTML;
    paper.install(window);
    var canvas = document.getElementById(data['ticker'])
    canvas.width = window.innerWidth - 50
    paper.setup(canvas);
    chart = new StakePoolPerformanceChart(canvas, paper, data, document, true);
    chart.draw(false, false);
    console.log('render_count: ' + render_count);
    render_count -= 1;
    console.log('render_count: ' + render_count);
    if (render_count == 0) {
      is_rendering = false;
    }
}

function set_instructions_visibility(visibility) {
  var instructions_div = document.getElementById('instructions_div')
  if (visibility) {
    instructions_div.style.display = 'block';
  } else {
    instructions_div.style.display = 'none';
  }
}

function set_results_instructions_visibility(visibility) {
  var div = document.getElementById('results_instructions_div')
  if (visibility) {
    div.style.display = 'block';
    div.style.visibility = 'visible';
  } else {
    div.style.display = 'none';
    div.style.visibility = 'hidden';
  }
}

function set_no_results_visibility(visibility) {
  var div = document.getElementById('no_results_div')
  if (visibility) {
    div.style.display = 'block';
    div.style.visibility = 'visible';
  } else {
    div.style.display = 'none';
    div.style.visibility = 'hidden';
  }
}

var filter_pools = debounce(function() {
  if (is_rendering) {
    console.log('already rendering - ' + is_rendering_count)
    is_rendering_count += 1;
    if (is_rendering_count < 2) {
      filter_pools();
    } else {
      is_rendering = false;
      is_rendering_count = 0;
      render_count = 0;
    }
  } else {
    console.log('starting render')

    var Table = document.getElementById("canvas_table");
    console.log('got table');
    Table.innerHTML = "<tbody><tbody>";
    console.log('used table');
    var inputBox = document.getElementById('poolSearch');
    if (inputBox != null && inputBox.value != '') {
      set_instructions_visibility(false);
      set_results_instructions_visibility(false);
      set_no_results_visibility(false);
      var filtered_pools = poolsThatStartWith(tickers_json, inputBox.value.toUpperCase());
      if (Object.keys(filtered_pools).length == 0) {
         console.log('0 results');
         set_no_results_visibility(true);
      } else if (Object.keys(filtered_pools).length < 20) {
        is_rendering = true;
        set_results_instructions_visibility(false);
        console.log('down to 20 element - rendering');
        render_count = filtered_pools.length;
        for (var i=0; i<filtered_pools.length; i++) {
            var ticker_item = document.createElement("li");
            console.log('rendering ' + filtered_pools[i]);
            if (filtered_pools[i].toUpperCase() in pool_json_client_cache) {
              console.log('rendering from client cache');
              render_pool_thumbnail(pool_json_client_cache[filtered_pools[i].toUpperCase()]);
            } else {
              var data_url = '/data/' + filtered_pools[i].toUpperCase() + '.json';
              console.log('fetching data from ' + data_url);
              fetch(data_url)
              .then(function (response) {
                  return response.json();
              })
              .then(function (data) {
                  console.log('data fetch completed for ' + data['ticker']);
                  pool_json_client_cache[data['ticker'].toUpperCase()] = data;
                  render_pool_thumbnail(data);
              })
              .catch(function (err) {
                  console.log('error: ' + err);
              });
          }
        }
      } else {
         set_results_instructions_visibility(true);
         console.log('list too big to render');
         is_rendering = false;
      }
    } else {
      set_instructions_visibility(true);
      set_results_instructions_visibility(false);
      set_no_results_visibility(false);
    }
  }
}, 200);

function draw_cardaviz_logo() {
    var p1 = new Point(150, 210);
    var p2 = new Point(120, 230);
    var p3 = new Point(80, 230);
    var p4 = new Point(50, 200);
    var p5 = new Point(50, 90);
    var p6 = new Point(65, 70);
    var p7 = new Point(75, 63);
    var p8 = new Point(107, 55);
    var p9 = new Point(135, 65);
    var p10 = new Point(220, 230);
    var p11 = new Point(290, 50);

    var path = new paper.Path(p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11);

    path.smooth({ type: 'catmull-rom', factor: 0.8 });
    path.strokeColor = 'yellow';
    path.strokeWidth = 18;
    return path;
}
</script>
<div><br><br><br></div>
<center><canvas id="cardaviz_logo" width="150" height="150"></canvas></center>
<center><input type="text" id="poolSearch" onkeyup="filter_pools()" placeholder="Type a pool ticker" title="Type in a ticker"></center>

<div id="instructions_div">
  <center><h4>start typing a pool ticker above</h4></center>
  <center><h4>or</h4></center>
  <center><h4>pick one of the predefined rankings below to see pool performance charts</h4></center>
  <center><h3><a href="ranking/underappreciated_performers">Underappreciated Performers</a></h3></center>
</div>
<div id="results_instructions_div" style="display: none;">
  <center><h4>Too many results to display.  Keep typing.</h4></center>
</div>
<div id="no_results_div" style="display: none;">
  <center><h4>No matches.  Try something else.</h4></center>
</div>

<table class="tableClass" id="canvas_table" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody><tbody>
</table>

</body>
</html>