<!DOCTYPE html>
<html>
<head>
<style>
  <style>
    html,
    body {
        margin: 0;
        height: 100%;
        width: 95%;
    }

    #poolSearch {
      color: #888888;
      background-color: black;
      width: 400px;
      text-align: center;
      font-size: 24px;
      padding: 12px 20px 12px 40px;
      border: 1px solid #ddd;
      margin-bottom: 12px;
      border-radius: 25px;
    }

    .tableClass {
      margin: 10px;
      height: 100%;
      width: 100%;
      border: 2px solid;
      border-collapse: collapse;
      border-spacing: 0;
    }

  </style>
</style>
</head>
<body  style="background-color: black;">
<script type="text/javascript" src="../static/js/paper-full.js"></script>
<script type="text/javascript" src="../static/js/StakePoolPerformanceChart.js"></script>
<script>

var tickers_json_url = '/static/tickers.json';
var tickers_json = null;
var data_fetch_completed = false;
var ready_to_render = false;
var pool_json_client_cache = {};
var is_rendering_count = 0;

console.log('fetching tickers json from ' + tickers_json_url);
fetch(tickers_json_url)
.then(function (response) {
    return response.json();
})
.then(function (data) {
    console.log('data fetch completed');
    tickers_json = data;
    data_fetch_completed = true;
})
.catch(function (err) {
    console.log('error: ' + err);
});

window.addEventListener("resize", (event) => {
    if (ready_to_render) {
        console.log('resize');
        filter_pools();
    }
});

window.addEventListener("pageshow", () => {
    console.log('pageshow');
    if (ready_to_render) {
        filter_pools();
    }
});

document.addEventListener('readystatechange', (event) => {
    if (document.readyState === "complete") {
        ready_to_render = true;
    }
});

function poolsThatStartWith(unfiltered_pools_json, starts_with_text) {
    var ret = {}
    for (const [key, value] of Object.entries(unfiltered_pools_json)) {
      if (key.startsWith(starts_with_text)) {
          ret[key] = value;
      }
    }
    var sorted = [];
    for(var key in ret) {
        sorted[sorted.length] = key;
    }
    sorted.sort();
    return sorted;
}

var is_rendering = false;
var render_count = 0;
const debounce = (func, delay) => {
    let debounceTimer
    return function() {
        const context = this
        const args = arguments
        clearTimeout(debounceTimer)
        debounceTimer = setTimeout(() => func.apply(context, args), delay)
    }
}

function render_pool_thumbnail(data) {
    var canvasCellHTML = '<td><a href="pools/' + data['ticker'] + '"><canvas id="' + data['ticker'] + '" resize></canvas></a></td>'
    var tableRef = document.getElementById('canvas_table').getElementsByTagName('tbody')[0];
    var newRow = tableRef.insertRow(tableRef.rows.length);
    newRow.innerHTML = canvasCellHTML;
    paper.install(window);
    var canvas = document.getElementById(data['ticker'])
    canvas.width = window.innerWidth - 50
    paper.setup(canvas);
    chart = new StakePoolPerformanceChart(canvas, paper, data, document, true);
    chart.draw(false, false);
    console.log('render_count: ' + render_count);
    render_count -= 1;
    console.log('render_count: ' + render_count);
    if (render_count == 0) {
      is_rendering = false;
    }
}

var filter_pools = debounce(function() {
  if (is_rendering) {
    console.log('already rendering - ' + is_rendering_count)
    is_rendering_count += 1;
    if (is_rendering_count < 2) {
      filter_pools();
    } else {
      is_rendering = false;
      is_rendering_count = 0;
      render_count = 0;
    }
  } else {
    console.log('starting render')

    var Table = document.getElementById("canvas_table");
    console.log('got table');
    Table.innerHTML = "<tbody><tbody>";
    console.log('used table');
    var inputBox = document.getElementById('poolSearch');
    if (inputBox != null && inputBox.value != '') {
      is_rendering = true;
      var filtered_pools = poolsThatStartWith(tickers_json, inputBox.value.toUpperCase());
      if (Object.keys(filtered_pools).length < 10) {
        console.log('down to 10 element - rendering');
        render_count = filtered_pools.length;
        for (var i=0; i<filtered_pools.length; i++) {
            var ticker_item = document.createElement("li");
            console.log('rendering ' + filtered_pools[i]);
            if (filtered_pools[i].toUpperCase() in pool_json_client_cache) {
              console.log('rendering from client cache');
              render_pool_thumbnail(pool_json_client_cache[filtered_pools[i].toUpperCase()]);
            } else {
              var data_url = '/data/' + filtered_pools[i].toUpperCase() + '.json';
              console.log('fetching data from ' + data_url);
              fetch(data_url)
              .then(function (response) {
                  return response.json();
              })
              .then(function (data) {
                  console.log('data fetch completed for ' + data['ticker']);
                  pool_json_client_cache[data['ticker'].toUpperCase()] = data;
                  render_pool_thumbnail(data);
              })
              .catch(function (err) {
                  console.log('error: ' + err);
              });
          }
        }
      } else {
         console.log('list too big to render');
         is_rendering = false;
      }
    }
  }
}, 200);
</script>
<center><input type="text" id="poolSearch" onkeyup="filter_pools()" placeholder="Type a pool ticker" title="Type in a ticker"></center>

<table class="tableClass" id="canvas_table" width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody><tbody>
</table>

</body>
</html>