<!DOCTYPE html>
<html>
<head>
<style>
  <style>
    html,
    body {
        margin: 0;
        height: 100%;
        width: 95%;
    }

    .arrow:hover {
      cursor: pointer;
    }

    .arrow {
      border: solid white;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 3px;
    }

    .up {
      transform: rotate(-135deg);
      -webkit-transform: rotate(-135deg);
    }

    .down {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }

    .tableClass {
      margin: 10px;
      height: 100%;
      width: 100%;
      border: 0px solid;
      border-collapse: collapse;
      border-spacing: 0;
      border-radius: 25px;
    }
    h1,h2,h3,h4 {
      color: white;
    }
    a:link {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: white;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      background-color: transparent;
      text-decoration: underline;
    }
    a:active {
      color: yellow;
      background-color: transparent;
      text-decoration: underline;
    }
    table {
      color: white;
      width: 100%;
      table-layout: fixed;
      border-spacing: 20px;
      border-radius: 25px;
    }
  </style>
</style>
</head>
<body  style="background-color: black;">
<script type="text/javascript" src="../static/js/paper-full.js"></script>
<script type="text/javascript" src="../static/js/StakePoolPerformanceChart.js"></script>
<script>
var pools_to_render = [];
{% for pool in ranking['results'] %}
pools_to_render.push('{{pool['ticker']}}');
{% endfor %}
var ready_to_render = false;
var pool_json_client_cache = {};

draw_if_page_finished_loading();

window.addEventListener("resize", (event) => {
    if (ready_to_render) {
        console.log('resize');
        draw_if_page_finished_loading();
    }
});

window.addEventListener("pageshow", () => {
    console.log('pageshow');
    if (ready_to_render) {
        draw_if_page_finished_loading();
    }
});

function draw_home() {
    var p1 = new Point(20, 200);
    var p2 = new Point(53.333, 200);
    var p3 = new Point(53.333, 140);
    var p4 = new Point(86.666, 140);
    var p5 = new Point(86.666, 200);
    var p6 = new Point(120, 200);
    var p7 = new Point(120, 123);
    var p8 = new Point(125, 125);
    var p9 = new Point(140, 125);
    var p10 = new Point(70, 80);
    var p11 = new Point(0, 125);
    var p12 = new Point(15, 125);
    var p13 = new Point(20, 123);

    var path = new paper.Path(p1, p2, p3, p4, p5, p6, p7, p8, p9, p10, p11, p12, p13);
    path.closed = true;
    path.smooth({ type: 'catmull-rom', factor: 0.6 });
    path.fillColor = 'white';
    path.scale(0.3);
    path.onMouseEnter = function (event) {
        path.fillColor = '#A9A9A9';
    }
    path.onMouseLeave = function (event) {
        path.fillColor = 'white';
    }
    path.onClick = function (event) {
        window.location.href = 'http://127.0.0.1:5000/';
    }
    return path
}

function draw_back_arrow() {
    var p1 = new Point(0, 100);
    var p2 = new Point(40, 50);
    var p3 = new Point(40, 80);
    var p4 = new Point(100, 80);
    var p5 = new Point(100, 120);
    var p6 = new Point(40, 120);
    var p7 = new Point(40, 150);

    var path = new paper.Path(p1, p2, p3, p4, p5, p6, p7);
    path.closed = true;
    path.smooth({ type: 'catmull-rom', factor: 0.6 });
    path.fillColor = 'white'
    path.scale(0.3);
    path.onMouseEnter = function (event) {
        path.fillColor = '#A9A9A9';
    }
    path.onMouseLeave = function (event) {
        path.fillColor = 'white';
    }
    path.onClick = function (event) {
        history.back();
    }
    return path
}

document.addEventListener('readystatechange', (event) => {
    if (document.readyState === "complete") {
        ready_to_render = true;
        paper.install(window);
        var canvas = document.getElementById('navigate_menu_canvas')
        paper.setup(canvas);
        var home = draw_home();
        home.position = new Point(40, 50);
        var back = draw_back_arrow();
        back.position = new Point(40, 95);
    }
});

function draw_if_page_finished_loading() {
    if (ready_to_render) {
        var Table = document.getElementById("canvas_table");
        Table.innerHTML = "<tbody><tbody>";
        for (var i=0; i<pools_to_render.length; i++) {
            if (pools_to_render[i].toUpperCase() in pool_json_client_cache) {
                console.log('rendering from client cache');
                render_pool_thumbnail(pool_json_client_cache[pools_to_render[i].toUpperCase()]);
            } else {
                var data_url = '/data/' + pools_to_render[i].toUpperCase() + '.json';
                console.log('fetching data from ' + data_url);
                fetch(data_url)
                .then(function (response) {
                    return response.json();
                })
                .then(function (data) {
                    console.log('data fetch completed for ' + data['ticker']);
                    pool_json_client_cache[data['ticker'].toUpperCase()] = data;
                    render_pool_thumbnail(data);
                })
                .catch(function (err) {
                    console.log('error: ' + err);
                });
            }
        }
    } else {
        setTimeout(draw_if_page_finished_loading, 100);
    }
}

function render_pool_thumbnail(data) {
    var canvasCellHTML = '<td><a href="../pools/' + data['ticker'] + '"><canvas id="' + data['ticker'] + '" resize></canvas></a></td>'
    var tableRef = document.getElementById('canvas_table').getElementsByTagName('tbody')[0];
    var newRow = tableRef.insertRow(tableRef.rows.length);
    newRow.innerHTML = canvasCellHTML;
    paper.install(window);
    var canvas = document.getElementById(data['ticker'])
    canvas.width = window.innerWidth - 50
    paper.setup(canvas);
    chart = new StakePoolPerformanceChart(canvas, paper, data, document, true);
    chart.draw(false, false);
}

var expandable_details_visibility = false;
function toggle_expandable_details() {
  var div = document.getElementById('expandable_details');
  var button = document.getElementById('clickable_expand_div');
  if (expandable_details_visibility) {
    expandable_details_visibility = false;
    div.style.display = 'none';
    div.style.visibility = 'hidden';
    button.innerHTML = "<center><i class=\"arrow down\"></i><span style=\"color: white;\"> expand for more details </span><i class=\"arrow down\"></center>";
  } else {
    expandable_details_visibility = true;
    div.style.display = 'block';
    div.style.visibility = 'visible';
    button.innerHTML = "<center><i class=\"arrow up\"></i><span style=\"color: white;\"> collapse for fewer details </span><i class=\"arrow up\"></i></center>";
  }
}
</script>
<center>
<table style="width: 100%;">
  <tr style="height: 100px;">
    <td style="width: 100px;">
      <canvas style="height: 130px;" id="navigate_menu_canvas"></canvas>
    </td>
    <td style="width: auto;">
      <h1><center>{{ranking['pretty_name']}}</center></h1>
      <h2><center>{{ranking['summary']}}</center></h2>
    </td>
    <td style="width: 100px;">&nbsp;</td>
  </tr>
</table>
</center>
<div id="expandable_details" style="display: none;">
  <center>
  <table bgcolor="#303030">
    <tr>
      <td style="width: 20%;"><b>Ranking Description:</b></td>
      <td style="width: 80%;">{{ranking['description']}}</td>
    </tr>
    <tr>
      <td style="width: 20%;"><b>Ranking Expression:</b></td>
      <td style="width: 80%;">{{ranking['expression']}}</td>
    </tr>
    <tr>
      <td style="width: 20%;"><b>Ranking Expression Explanation:</b></td>
      <td style="width: 80%;">{{ranking['expression_explanation']}}</td>
    </tr>
    <tr>
      <td style="width: 20%;"><b>Filters:</b></td>
      <td style="width: 80%;">Below is a list of additional filters that are applied to the resulting pools</td>
    </tr>
{% for filter in ranking['filters'] %}
    <tr>
      <td style="width: 20%;"><b>{{filter['name']}}</b></td>
      <td style="width: 80%;">{{filter['expression']}}</td>
    </tr>
{% endfor %}
  </table>
  </center>
</div>
<div>
  <center><div id="clickable_expand_div" onclick="toggle_expandable_details()"><i class="arrow down"></i><span style="color: white;"> expand for more details </span><i class="arrow down"></i></div></center>
  <table class="tableClass" id="canvas_table" width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody><tbody>
  </table>
</div>
</body>
</html>